<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Final Project</title>
 
</head>

<body>
    <div class="container">
        <h1>Tableau</h1> <!-- We can remove the h1 tag when we get the nav bar styling down -->
        <!-- Nav bar code found from https://github.com/codrops/LineMenuStyles/ -->
        <section class="section section--menu" id="Alonso">
                <h2 class="section__title"></h2>
                <span class="link-copy"></span>
                <nav class="menu menu--alonso">
                    <ul class="menu__list">
                        <!-- <li class="menu__item menu__item--current"><a href="#" class="menu__link">Home</a></li> -->
                        <li class="menu__item"><a href="index.html" class="menu__link">Food Deserts</a></li>
                        <li class="menu__item"><a href="data.html" class="menu__link">Data Source</a></li>
                        <li class="menu__item"><a href="work.html" class="menu__link">Project Work</a></li>
                        <li class="menu__item"><a href="tableau.html" class="menu__link">Visualizations</a></li>
                        <!-- <li class="menu__line"></li> -->
                    </ul>
                </nav>
            </section>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

</body>
</html>